@import url('https://fonts.googleapis.com/css?family=Dosis&display=swap');
header {
    text-align: center;
   font-family: 'Dosis', sans-serif;
    color: rgb(3, 169, 244);
}

html {
    background-color: #F3F1F7;
}