@import url('https://fonts.googleapis.com/css?family=Homemade+Apple&display=swap');

.newThought {
    border: 1px solid #000;
    background-color: white;
    width: inherit;
    font-family: 'Dosis', sans-serif;
    border-radius: 5px;    
}
h1 { 
    font-family: 'Homemade Apple', cursive;
    color: rgb(3, 169, 244);
}
.main {
    width: 50vw;
    margin: auto;
}

ul {
    border: 1px solid #000;
    background-color: white;
    padding: 0;
    border-radius: 5px;
}